<template>
    <div>
        <h1 class="is-size-3 has-text-weight-bold mb-8">
            <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('todo-lists')">Todo Lists</inertia-link>
            <span class="text-indigo-400">/</span> Create
        </h1>

        <div class="columns">
            <div class="column is-8">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <form @submit.prevent="store">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <text-input v-model="form.title" :error="form.errors.title" label="Title" />
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <textarea-input v-model="form.description" :error="form.errors.description" label="Description" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <loading-button :loading="form.processing" class="button is-primary is-pulled-right" type="submit">Create Todo Lists</loading-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import TextareaInput from '@/Shared/TextareaInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
    metaInfo: { title: 'Create Organization' },
    components: {
        LoadingButton,
        TextareaInput,
        TextInput,
    },
    layout: Layout,
    remember: 'form',
    data() {
        return {
            form: this.$inertia.form({
                title: null,
                description: null,
                user_id: this.$page.props.auth.user.id,
            }),
        }
    },
    methods: {
        store() {
            this.form.post(this.route('todo-lists.store'))
        },
    },
    }
</script>
