<template>
    <div>
        <h1 class="is-size-3 has-text-weight-bold mb-8">
            <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('todo-lists')">Todo Lists</inertia-link>
            <span class="text-indigo-400">/</span> {{ form.title }}
        </h1>

        <div class="columns">
            <div class="column is-8">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <form @submit.prevent="update">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <text-input v-model="form.title" :error="form.errors.title" label="Title" />
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <textarea-input v-model="form.description" :error="form.errors.description" label="Description" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <button class="button is-danger" tabindex="-1" type="button" @click="destroy">Delete Todo List</button>
                                        <loading-button :loading="form.processing" class="button is-primary is-pulled-right" type="submit">Update Todo List</loading-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Icon from '@/Shared/Icon'
    import Layout from '@/Shared/Layout'
    import TextInput from '@/Shared/TextInput'
    import TextareaInput from '@/Shared/TextareaInput'
    import LoadingButton from '@/Shared/LoadingButton'
    import TrashedMessage from '@/Shared/TrashedMessage'

    export default {
        metaInfo() {
            return { title: this.form.name }
        },
        components: {
            Icon,
            LoadingButton,
            TextareaInput,
            TextInput,
            TrashedMessage,
        },
        layout: Layout,
        props: {
            todo_list: Object,
        },
        remember: 'form',
        data() {
            return {
            form: this.$inertia.form({
                id: this.todo_list.id,
                title: this.todo_list.title,
                description: this.todo_list.description,
                user_id: this.todo_list.user_id,
            }),
            }
        },
        methods: {
            update() {
                this.form.put(this.route('todo-lists.update', this.todo_list.id))
            },
            destroy() {
                if (confirm('Are you sure you want to delete this todo list?')) {
                    this.$inertia.delete(this.route('todo-lists.destroy', this.todo_list.id))
                }
            },
            restore() {
                if (confirm('Are you sure you want to restore this todo list?')) {
                    this.$inertia.put(this.route('todo-lists.restore', this.todo_list.id))
                }
            },
        },
    }
</script>
