<template>
  <div>
    <h1 class="is-size-3 has-text-weight-bold mb-8">Todo Lists</h1>

    <div class="mb-6 is-flex is-justify-content-space-between is-align-items-center">
        <search-filter v-model="form.search" class="w-full max-w-md mr-4" @reset="reset"></search-filter>
        <inertia-link class="button is-primary" :href="route('todo-lists.create')">
            <span>Create</span>
        </inertia-link>
    </div>

    <div class="columns">
        <div class="column is-12">
            <div class="card">
                <div class="card-content">
                    <div class="content">
                        <table class="table">
                            <tr class="text-left has-text-weight-bold">
                                <th class="px-6 pt-6 pb-4">Created At</th>
                                <th class="px-6 pt-6 pb-4">Title</th>
                                <th class="px-6 pt-6 pb-4" width="30%">Description</th>
                            </tr>
                            <tr v-for="todo_list in todo_lists.data" :key="todo_list.id" class="hover:bg-gray-100 focus-within:bg-gray-100">
                                <td class="border-t">
                                    <inertia-link class="px-6 py-4 flex items-center focus:text-indigo-500" :href="route('todo-lists.edit', todo_list.id)">
                                    {{ todo_list.created_at }}
                                    </inertia-link>
                                </td>
                                <td class="border-t">
                                    <inertia-link class="px-6 py-4 flex items-center" :href="route('todo-lists.edit', todo_list.id)" tabindex="-1">
                                    {{ todo_list.title }}
                                    </inertia-link>
                                </td>
                                <td class="border-t">
                                    <inertia-link class="px-6 py-4 flex items-center" :href="route('todo-lists.edit', todo_list.id)" tabindex="-1">
                                    {{ todo_list.description }}
                                    </inertia-link>
                                </td>
                                <td class="border-t w-px">
                                    <inertia-link class="px-4 flex items-center" :href="route('todo-lists.edit', todo_list.id)" tabindex="-1">
                                    <icon name="cheveron-right" class="block w-6 h-6 fill-gray-400" />
                                    </inertia-link>
                                </td>
                            </tr>
                                <tr v-if="todo_lists.data.length === 0">
                                <td class="border-t px-6 py-4" colspan="4">No todo_lists found.</td>
                            </tr>
                        </table>

                        <pagination class="mt-6" :links="todo_lists.links" />
                    </div>
                </div>
            </div>
        </div>
    </div>
  </div>
</template>

<script>
import Icon from '@/Shared/Icon'
import pickBy from 'lodash/pickBy'
import Layout from '@/Shared/Layout'
import throttle from 'lodash/throttle'
import mapValues from 'lodash/mapValues'
import Pagination from '@/Shared/Pagination'
import SearchFilter from '@/Shared/SearchFilter'

export default {
  metaInfo: { title: 'Todo Lists' },
  components: {
    Icon,
    Pagination,
    SearchFilter,
  },
  layout: Layout,
  props: {
    filters: Object,
    todo_lists: Object,
  },
  data() {
    return {
      form: {
        search: this.filters.search,
        trashed: this.filters.trashed,
      },
    }
  },
  watch: {
    form: {
      deep: true,
      handler: throttle(function() {
        this.$inertia.get(this.route('todo-lists'), pickBy(this.form), { preserveState: true })
      }, 150),
    },
  },
  methods: {
    reset() {
      this.form = mapValues(this.form, () => null)
    },
  },
}
</script>
