<template>
    <div>
        <h1 class="is-size-3 has-text-weight-bold mb-8">
            <inertia-link class="text-indigo-400 hover:text-indigo-600" :href="route('organizations')">Organizations</inertia-link>
            <span class="text-indigo-400">/</span> Create
        </h1>

        <div class="columns">
            <div class="column is-8">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <form @submit.prevent="store">
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <text-input v-model="form.name" :error="form.errors.name" label="Name" />
                                        <text-input v-model="form.email" :error="form.errors.email" label="Email" />
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <text-input v-model="form.phone" :error="form.errors.phone" label="Phone" />
                                        <text-input v-model="form.address" :error="form.errors.address" label="Address" />
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <text-input v-model="form.city" :error="form.errors.city" label="City" />
                                        <text-input v-model="form.region" :error="form.errors.region" label="Province/State" />
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <select-input v-model="form.country" :error="form.errors.country" label="Country">
                                            <option :value="null" />
                                            <option value="CA">Canada</option>
                                            <option value="US">United States</option>
                                        </select-input>
                                    </div>
                                </div>
                                <div class="field is-horizontal">
                                    <div class="field-body">
                                        <text-input v-model="form.postal_code" :error="form.errors.postal_code" label="Postal code" />
                                    </div>
                                </div>
                                <div class="columns">
                                    <div class="column">
                                        <loading-button :loading="form.processing" class="button is-primary is-pulled-right" type="submit">Create Organization</loading-button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
import Layout from '@/Shared/Layout'
import TextInput from '@/Shared/TextInput'
import SelectInput from '@/Shared/SelectInput'
import LoadingButton from '@/Shared/LoadingButton'

export default {
    metaInfo: { title: 'Create Organization' },
    components: {
        LoadingButton,
        SelectInput,
        TextInput,
    },
    layout: Layout,
    remember: 'form',
    data() {
        return {
            form: this.$inertia.form({
                name: null,
                email: null,
                phone: null,
                address: null,
                city: null,
                region: null,
                country: null,
                postal_code: null,
            }),
        }
    },
    methods: {
        store() {
            this.form.post(this.route('organizations.store'))
        },
    },
    }
</script>
