<template>
    <div>
        <div v-if="$page.props.flash.success && show" class="notification is-success mb-4">
            <button class="delete" @click="show = false"></button>
            {{ $page.props.flash.success }}
        </div>

        <div v-if="$page.props.flash.error && show" class="notification is-danger mb-4">
            <button class="delete" @click="show = false"></button>
            <div v-if="$page.props.flash.error" class="py-4 text-white text-sm font-medium">{{ $page.props.flash.error }}</div>
            <div v-else class="py-4 text-white text-sm font-medium">
                <span v-if="Object.keys($page.props.errors).length === 1">There is one form error.</span>
                <span v-else>There are {{ Object.keys($page.props.errors).length }} form errors.</span>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                show: true,
            }
        },

        watch: {
            '$page.props.flash': {
                handler() {
                    this.show = true
                },
                deep: true,
            },
        },
    }
</script>
