<template>
    <div>
        <portal-target name="dropdown" slim />
        <nav class="navbar has-shadow" role="navigation" aria-label="main navigation">
            <div class="navbar-brand">
                <inertia-link class="navbar-item" href="/">
                    <logo class="fill-dark" width="120" height="28" />
                </inertia-link>

                <a role="button" id="burger" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                    <span aria-hidden="true"></span>
                </a>
            </div>

            <div id="nav-links" class="navbar-menu">
                <div class="navbar-start">
                    <p class="navbar-item">{{ $page.props.auth.user.account.name+" "+$page.props.auth.user.last_name }}</p>
                </div>

                <div class="navbar-item has-dropdown is-hoverable">
                    <a class="navbar-link">
                        {{ $page.props.auth.user.first_name }}
                    </a>

                    <div class="navbar-end">
                        <div class="navbar-dropdown is-right">
                            <inertia-link class="navbar-item" :href="route('users.edit', $page.props.auth.user.id)">My Profile</inertia-link>
                            <inertia-link class="navbar-item" :href="route('users')">Manage Users</inertia-link>
                            <inertia-link class="navbar-item" :href="route('logout')" method="delete">Logout</inertia-link>
                        </div>
                    </div>
                </div>
            </div>
        </nav>

        <div class="columns">
            <div class="column is-2 bg-indigo-800">
                <main-menu class="bg-indigo-800 is-12 px-5 py-3" style="height: 100vh" />
            </div>
            <div class="column">
                <div class="px-2 pt-4">
                    <flash-messages />
                    <slot />
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Icon from '@/Shared/Icon'
    import Logo from '@/Shared/Logo'
    import Dropdown from '@/Shared/Dropdown'
    import MainMenu from '@/Shared/MainMenu'
    import FlashMessages from '@/Shared/FlashMessages'

    export default {
        components: {
            Dropdown,
            FlashMessages,
            Icon,
            Logo,
            MainMenu,
        },

        mounted() {
            const burgerIcon = document.querySelector('#burger');
            const navbarMenu = document.querySelector('#nav-links');

            burgerIcon.addEventListener('click', () => {
                navbarMenu.classList.toggle('is-active');
            });
        },
    }
</script>
