<template>
    <div class="field">
        <label v-if="label" class="label" :for="id">{{ label }}:</label>
        <div class="control">
            <div class="select is-fullwidth">
                <select :id="id" ref="input" v-model="selected" v-bind="$attrs" :class="{ error: error }">
                    <slot />
                </select>
            </div>
            <div v-if="error" class="form-error">{{ error }}</div>
        </div>
    </div>
</template>

<script>
export default {
    inheritAttrs: false,
    props: {
        id: {
        type: String,
            default() {
                return `select-input-${this._uid}`
            },
        },
        value: [String, Number, Boolean],
        label: String,
        error: String,
    },
    data() {
        return {
            selected: this.value,
        }
    },
    watch: {
        selected(selected) {
            this.$emit('input', selected)
        },
    },
    methods: {
        focus() {
            this.$refs.input.focus()
        },
        select() {
            this.$refs.input.select()
        },
    },
}
</script>
