<template>
    <div class="field">
        <label v-if="label" class="label" :for="id">{{ label }}:</label>
        <div class="control">
            <input :id="id" ref="input" v-bind="$attrs" class="input" :class="error ? { 'is-danger': 'is-danger' } : {}" :type="type" :value="value" @input="$emit('input', $event.target.value)" />
            <div v-if="error" class="form-error">{{ error }}</div>
        </div>
    </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `text-input-${this._uid}`
      },
    },
    type: {
      type: String,
      default: 'text',
    },
    value: String,
    label: String,
    error: String,
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
    setSelectionRange(start, end) {
      this.$refs.input.setSelectionRange(start, end)
    },
  },
}
</script>
