<template>
  <div class="field">
    <label v-if="label" class="label" :for="id">{{ label }}:</label>
    <div class="control">
      <textarea :id="id" ref="input" v-bind="$attrs" class="textarea" :class="{ error: error }" :value="value" @input="$emit('input', $event.target.value)" />
      <div v-if="error" class="form-error">{{ error }}</div>
    </div>
  </div>
</template>

<script>
export default {
  inheritAttrs: false,
  props: {
    id: {
      type: String,
      default() {
        return `textarea-input-${this._uid}`
      },
    },
    value: String,
    label: String,
    error: String,
  },
  methods: {
    focus() {
      this.$refs.input.focus()
    },
    select() {
      this.$refs.input.select()
    },
  },
}
</script>
