<template>
    <div class="notification is-warning">
        <button class="delete"></button>
        <slot />
        <a class="text-sm" tabindex="-1" @click="$emit('restore')">Restore</a>
    </div>
</template>

<script>
    import Icon from '@/Shared/Icon'

    export default {
        components: {
            Icon,
        },

        mounted() {
            document.addEventListener('DOMContentLoaded', () => {
                (document.querySelectorAll('.notification .delete') || []).forEach(($delete) => {
                    const $notification = $delete.parentNode;

                    $delete.addEventListener('click', () => {
                        $notification.parentNode.removeChild($notification);
                    });
                });
            });
        }
    }
</script>
